# Configuracion de EmailJS - permite recibir mensajes de contacto desde el formulaario de la web
# Variable de entorno para el despliegue, en concreto en vercel
NODE_ENV=example

VITE_EMAILJS_SERVICE_ID=tu_id_al_crear_un_service
VITE_EMAILJS_TEMPLATE_ID=tu_id_al_crear_un_template
VITE_EMAILJS_PUBLIC_KEY=public_key_al_crear_un_service

